.center {
    text-align: center;
}

img {
    max-height: 25%;
    max-width: 60%;
    margin: 20px 0 0px;
    pointer-events: none;
    justify-content: center;
}

.content{
    background: rgb(148, 223, 241); ;
    height: 100%;
}