<ion-header>
  <ion-toolbar><ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
  <ion-title class="center">About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <div class="content">
    <img src="assets/Settings.png"/>
    <h2><strong>Pocket Calculator</strong></h2>
    <p>This app is the first app built by Shubhum Jootun with the mentorship of Ajmal and reviews of Manish. This app is designed to be used as a basic calculator tool to calculate BMI, simple mathematics calculations as well as Running Calories burnt.</p>
    <br>
    <p> Thank You</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="center" style="font-size: smaller;">K-S © 2021</ion-title>
  </ion-toolbar>
</ion-footer>

