<ion-header [translucent]="true">
 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="center">
    Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content"  [fullscreen]="true">
  
  <ion-item style="background-color: #849aa5;">
    <ion-label class="value">
      {{value}}
    </ion-label>
  </ion-item>

  <ion-item style="background-color: #849aa5;">
    <ion-label class="operation">
    Operations: {{operation}}
    </ion-label>
  </ion-item>

  <div style="background-color: #849aa5;" *ngFor="let numGroup of numberGroups"><!--for (int i=0;i<numberofgroups(3); i++)-->
    <ion-button color="dark" *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button">{{num}}</ion-button><!--for(int j=0;j<i;j++)-->
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-title class="center" style="font-size: smaller;">K-S © 2021</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
