ion-content {
  height: 100%;
  color:#525252;
  margin-top: 100px;
}

ion-grid{
  height: 90%;
  background-color: #36373b;
}

img {
  max-height: 90%;
  max-width: 90%;
  pointer-events: none;
  justify-content: center;
}

.img-about {
  max-height: 85%;
  max-width: 85%;
  pointer-events: none;
  justify-content: center;
}


b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: rgb(255, 255, 255)
}

p:hover {
  color: rgb(185, 185, 185)
}

p b {
  color: var(--ion-text-color, #000000);
}

.center {
  text-align: center;
}
