<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center">
      Main Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-grid class="center">
    
    <ion-row>
      <ion-col class="option1" (click)="calculator()">
        <img  src="assets/Android-calculator.png" />
        <p>Pocket Calculator<p>
      </ion-col>
      <ion-col class="option2" (click)="BMI()">
        <img class="center" src="assets/BMI.png" />
        <p>BMI Calculator</p>
      </ion-col>
    </ion-row>
    <br><br>
    <ion-row>
      <ion-col class="option3" (click)="calories()">
        <img class="center" src="assets/running-icon.png" />
        <p>Running Calories Calculator</p>
      </ion-col>
      <ion-col class="option4" (click)="about()">
        <img class="img-about" src="assets/about.png" />
        <p>About</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-footer>
    <ion-toolbar>
      <ion-title class="center" style="font-size: smaller;">K-S © 2021</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-content>
  