<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center">
      Calculator App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-slide>
    <img src="assets/Android-Calculator.png"/>
    <h2>Your friendly pocket Calculator!</h2>
    <p>The <b>ionic calculator app</b> contains operations like addition, subtraction, multiplication and division.</p>
    <ion-button fill="clear" (click)="navigate()" >Use App Now <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </ion-slide>
</ion-content>
  