<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="value">
      {{value}}
    </ion-label>
  </ion-item>
  <div *ngFor="let numGroup of numberGroups"><!--for (int i=0;i<numberofgroups(3); i++)-->
    <ion-button color="dark" *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button">{{num}}</ion-button><!--for(int j=0;j<i;j++)-->
  </div>
</ion-content>
